# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Jupyter (if used)
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Generated ML datasets
# ==============================
data/candidate_allocations.csv
data/train.csv
data/valid.csv
data/test.csv

